@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.btn {
  background: #0056ff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background: #003bb3;
}

section + section {
  margin-top: -1px;
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: cover;
}

.wave-bottom {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -5px;
  pointer-events: none; 
  margin: 0;           
  padding: 0;          
  position: relative;  
  z-index: 0;          
}

.wave-top {
  display: block;
  width: 100%;
  height: auto;
  transform: rotate(180deg);
  margin-bottom: -5px;  
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-menu {
  display: none;
}

.navbar.active ~ .menu-overlay {
  display: block;
}

.navbar {
  background: linear-gradient(to right, rgba(1, 1, 3, 1), rgba(0, 37, 176, 1));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: sticky !important;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.navbar nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.navbar nav ul li a:hover {
  opacity: 0.8;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;

}

.modal-msg {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-msg.hidden {
  display: none;
}

.modal-msg-content {
  background: #fff;
  padding: 25px;
  width: 330px;
  max-width: 90%;
  border-radius: 12px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.modal-msg-content h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #444 !important;
}

.modal-msg-content p {
  font-size: 15px;
  color: #444 !important;
  margin-bottom: 20px;
}

#modal-msg-btn {
  background: #003bb3;
  color: #fff;
  padding: 10px 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}