/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1f2937;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

a:hover {
  transform: scale(1.1);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
