*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
}

main{
    width: 100%;
    padding-left: 33.5%;
    padding-right: 33.5%;
}

form{
    background-color: #DDE6ED;
    border: solid 10px #175C86;
    border-radius: 5%;
    text-align: center;
    width: 500px;
    height: 600px;
    padding: 15px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

label{
    font-size: 20px;
}

input{
    margin-bottom: 20px;
    width: 80%;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
}

textarea{
    margin-bottom: 45px;
    width: 80%;
    height: 150px;
    font-size: 17px;
    border-radius: 5px;
}

button{
    background-color: #0056b3;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius:  10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover{
    background-color: #87CEEB; 
    transform: scale(1.1); 
}